# Hazel runtime files
/bin/
**bin-int/
!vendor/premake/bin/

*.log
*.pdb
*.exe
Hazelnut/*.log
Hazelnut/*.pdb
Hazelnut/*.exe

#IDE files
.idea/
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj


#my private files
Develop.md

Hazelnut/assets/cache
scripts/__pycache__